<form *ngIf="form" #thing="ngForm" [formGroup]="form" novalidate>
	<pre><code><small>{{ book | json}}</small></code></pre>
	<mat-form-field>
		<mat-label>Book Title</mat-label>
		<input matInput type="text" formControlName="title"  placeholder="Enter the book title">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Url</mat-label>
		<input matInput type="text" formControlName="url" placeholder="Enter the URL">
	</mat-form-field>
	<div class="d-flex flex-row bd-highlight mb-2">
		<div class="flex-fill">
			<button *ngIf="thing?.dirty" mat-flat-button type="button" color="primary" (click)="update(form.value)">
				<mat-icon>save</mat-icon>
			</button>
		</div>
		<button mat-flat-button color="warn" type="button" (click)="delete(book)">
			<mat-icon>delete</mat-icon>
		</button>
	</div>

</form>