<h1>
	<button mat-mini-fab color="primary" (click)="openDialog()">
		<mat-icon>library_add</mat-icon>
	</button>
	Books
</h1>
<mat-tab-group mat-align-tabs="start" *ngIf="books.value">
    <mat-tab>
		<ng-template mat-tab-label>
			<mat-icon>view_module</mat-icon>
			Library View
		</ng-template>
		<div class="d-flex flex-wrap">
			<mat-card *ngFor="let book of books.value">
				<mat-card-title>{{book.title}}</mat-card-title>
				<mat-card-content>
					<app-edit-book [book]="book" (bookChanged)="onBookChanged($event)"></app-edit-book>
				</mat-card-content>
			</mat-card>
		</div>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon>list</mat-icon> List View
		</ng-template>
		<table mat-table [dataSource]="books.value" class="w-100">
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>  ID </th>
				<td mat-cell *matCellDef="let book">{{ book.id }}</td>
			</ng-container>
			<ng-container matColumnDef="title">
				<th mat-header-cell *matHeaderCellDef> Title </th>
				<td mat-cell *matCellDef="let book">{{ book.title }}</td>
			</ng-container>
			<ng-container matColumnDef="url">
				<th mat-header-cell *matHeaderCellDef> Url </th>
				<td mat-cell *matCellDef="let book"><a href="{{ book.url }}">{{ book.url }}</a></td>
			</ng-container>
            <ng-container matColumnDef="content">
				<th mat-header-cell *matHeaderCellDef> Content </th>
				<td mat-cell *matCellDef="let book"><a href="{{ book.content }}">{{ book.content }}</a></td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon>code</mat-icon>
			Data View
		</ng-template>
		<code><pre>{{ books.value | json }}</pre></code>
	</mat-tab>
</mat-tab-group>
