<ng-template #freqdist>
    <img *ngIf="book" class="d-block w-100" src="/freqdist.png?table=books&col=content&id={{book.id}}">
</ng-template>
<form *ngIf="formGroup" #form="ngForm" [formGroup]="formGroup" action="POST" novalidate class="d-flex flex-column">
	<mat-form-field>
		<mat-label>Title</mat-label>
		<input matInput type="text" formControlName="title"  placeholder="Enter the book title">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Url</mat-label>
		<input matInput type="text" formControlName="url" placeholder="Enter the URL">
	</mat-form-field>
	<!-- <mat-form-field>
		<textarea matInput formControlName="content"></textarea>
	</mat-form-field> -->
    <div class="d-flex flex-row bd-highlight mb-2">
        <button  mat-flat-button type="button" color="primary" (click)="openDialog(freqdist)">
            <mat-icon>insights</mat-icon> Word Frequency
        </button>
    </div>
    <div class="d-flex flex-row bd-highlight mb-2">
        <div class="flex-fill">
            <button *ngIf="action ==='update'" [disabled]="!form?.dirty" mat-flat-button type="button" color="primary" (click)="update(form.value)">
				<mat-icon>save</mat-icon>
			</button>
			<button *ngIf="action ==='create'" [disabled]="!form?.dirty" mat-flat-button type="button" color="primary" (click)="create(form.value)">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<button *ngIf="action == 'update'" mat-flat-button color="warn" type="button" (click)="delete(book)">
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</form>